/*ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #620;
    border: 1px solid black;
  }
  
  li {
    float: left;
    border-right: 1px solid black;

  }

  li:last-child {
      border-right: none;
  }

  li a:hover {
    background-color: #410;
  }
  
  ul.meny li {float: left;}

  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
  

  
  ul.meny li.right {float: right;}

  @media screen and (max-width: 600px) {
    ul.menu li.right, 
    ul.menu li {float: none;}
  }*/

  ul.meny {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  ul.meny li {float: left;}
  
  ul.meny li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.meny li a:hover {background-color: #111;}
  
  ul.meny li.right {float: right;}
  
  @media screen and (max-width: 600px) {
    ul.meny li.right, 
    ul.meny li {float: none;}
  }
  